In [5]:
from datetime import datetime
from datetime import timedelta

from numpy import random
import pandas as pd

In [2]:
date_format = '%Y-%m-%d'

In [15]:
start_date = datetime(year=2019, month=10, day=28)

n_days = 14
all_dates = [datetime.strftime(start_date + timedelta(days=d), date_format) for d in range(n_days)]
all_dates

['2019-10-28',
 '2019-10-29',
 '2019-10-30',
 '2019-10-31',
 '2019-11-01',
 '2019-11-02',
 '2019-11-03',
 '2019-11-04',
 '2019-11-05',
 '2019-11-06',
 '2019-11-07',
 '2019-11-08',
 '2019-11-09',
 '2019-11-10']

In [8]:
rates = random.normal(loc=2., scale=0.05, size=n_days)

In [10]:
df = pd.DataFrame({'Date': all_dates, 'Rate': rates})
df

          Date      Rate
0   2019-10-28  2.100306
1   2019-10-29  1.948527
2   2019-10-30  1.967203
3   2019-10-31  1.976643
4   2019-11-01  1.986917
5   2019-11-02  1.904678
6   2019-11-03  1.981707
7   2019-11-04  2.059971
8   2019-11-05  1.979363
9   2019-11-06  1.929668
10  2019-11-07  2.001296
11  2019-11-08  1.875189
12  2019-11-09  2.027348
13  2019-11-10  1.956554

In [11]:
df.to_csv('submission_ВоробейВладислав.csv', index=False)